* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  margin: 0;
  background-color: lightgray;
}

header {
  background-color: blue;
  width: 100%;
  margin: 0;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 0;
  color: gold;
  font-size: 3rem;
}

span {
  padding-left: 25px;
  font-size: 1.25rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  padding: .5rem 2rem;
  font-size: 1.1rem;
}

#totals-row > p {
  margin-top: 20px;
}

#bet-button-row > button {
  margin-top: 20px;
}

.flex {
  display: flex;
  flex-direction: column;
}

.container-margin {
  margin-top: 50px;
  width: 50%;
  text-align: center;
}

.heading-margin {
  margin-top: 35px;
}

#totals-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

#bet-button-row {
  margin-left: 50px;
}

#bet-button-row > button {
  padding: 5px;
  margin: 10px 5px;
}

#h-button, #s-button {
  display: none;
}

#dealer-hand, #player-hand {
  border: 2px solid rgb(93, 90, 90);
  border-radius: 35%;
  background-color: lightgreen;
  height: 30vh;
  width: 40vh;
  margin-top: 20px;
}

#hands {
  display: flex;
  justify-content: center;
  align-items: center;
}

#dealer, #player {
  margin: 25px;
}

#game-play > p {
  font-size: 1.5rem;
  margin-top: 25px;
}

#p-score {
  font-size: 1.5rem;
}