* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  margin: 0;
  background-image: url("https://i.imgur.com/XfDiBCZ.jpg");
  background-size: cover;
  font-family: 'Abril Fatface', cursive;
}

header {
  background-color: #35654d;
  width: 100%;
  margin: 0;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1, h2, #dealer > p, #player > p {
  color: gold;
  font-size: 1.8rem;
}

#dealer > h2, #player > h2 {
  color: rgb(242, 11, 11);
  font-size: 2rem;
}

h1 {
  margin: 0;
  font-size: 3rem;
  font-family: 'Lobster', cursive;
}

h2 {
  margin-top: 25px;
  text-align: center;
}

span {
  padding-left: 25px;
  font-size: 1.25rem;
}

p {
  text-align: left;
  font-size: 1.25em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  padding: .5rem 2rem;
  font-size: 1.1rem;
}

#totals-row > p {
  margin-top: 20px;
}

.bet-totals > p {
  margin: auto;
  padding: 3px;
  font-size: 1.5rem;
}

#bet-button-row > button {
  margin: 0 auto;
  text-align: center;
}

.align-labels {
  text-align: center;
  margin-top: 10px;
  font-size: 1.5em;
}

.btn {
  width: 50px;
}

.container-margin {
  margin-top: 50px;
  width: 50%;
  text-align: center;
}

.heading-margin {
  margin-top: 35px;
} 

.bet-totals, #bet-button-row {
  border: 3px solid white;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: lightgray;
  text-align: center;
}

.bet-totals {
  padding: 14px 51.906px;
}

#play-button-row {
  width: 100%;
  margin: 0 auto;
}

#totals-row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 100px;
}

#bet-button-row {
  /* margin-top: 20px; */
}

#bet-button-row > button {
  padding: 5px;
  margin: 10px 5px;
}

#h-button, #s-button {
  display: none;
}

#dealer-hand, #player-hand {
  border: 2px solid rgb(8, 8, 8);
  border-radius: 10%;
  background-color: #35654d;
  height: 32vh;
  width: 25vw;
  max-width: 500px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#hands {
  display: flex;
  justify-content: center;
  align-items: center;
}

#dealer, #player {
  margin: 25px;
}

#game-play > p {
  font-size: 1.5rem;
  margin-top: 25px;
}

#d-score, #p-score {
  font-size: 1.5rem;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
  #dealer-hand, #player-hand {
    height: 35vh;
    width: 30vw;
  }
}

@media screen and (max-width: 1000px) {
  #dealer-hand, #player-hand {
    height: 32vh;
    width: 33vw;
  }
} 
  
@media screen and (max-width: 700px) {
  #dealer-hand,
  #player-hand {
    height: 30vh;
    width: 35vw;
  }
}